.main-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 220px;
    background-image: url("../../assets/img/bg1.png");

    background-position: center;
}
.view-product {
    padding: 0 10vw;
    margin-bottom: 5rem;
}
.heading {
    text-align: center;
    line-height: 1.5;
}
.heading h1 {
    font-size: 2rem;
    text-transform: capitalize;
}
.heading span {
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 16px;
}
.heading img {
    margin-top: 0.5rem;
    width: 150px !important;
}
.flex-btn {
    display: flex;
    justify-content: space-evenly;
}

.box-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.box-container .box {
    background-color: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    margin: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    padding: 1.5rem;
    padding-bottom: 3rem;
}
.view-product .box-container .box {
    position: relative;
    margin: 1rem;
    overflow: hidden;
}

.sharp {
    width: 70px;
    height: auto;
}
.empty {
    background-color: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
    color: var(--main-color);
    padding: 1.5rem;
    text-align: center;
    margin: 2rem auto;
}
.empty p {
    font-size: 20px;
    margin-bottom: 2rem;
}
