.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    flex: 1;
    margin-left: 12px;
}

.name {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--main-color);
}
.check{
    margin-left: 6px;
    color: rgb(32, 213 , 236);
}

.price {
    font-size: 1.4rem;
    color: #000;
}
