.main-container{
    // margin-top: 100px;
}
.view-detail{
    background-image: url('../../../assets/img/bn3.3.webp');
    // background-attachment: fixed;
    background-position: center center; /* Để giữ ảnh ở giữa */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 6%
}
.view-detail .main-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.view-detail .main-box .img-box,
.view-detail .main-box .detail-box{
    flex: 1 1 40rem;
    padding: 2rem;
}
.view-detail .main-box .img-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.view-detail .main-box .img-box img{
    width: 600px;
    height: 600px;
}
.view-detail .main-box .detail-box h2, h3, .product-price{
    font-weight: normal;
    margin-left: 0;
    margin-top: 2rem;
}
.view-detail .main-box .detail-box .description-text{
    margin-top: 1rem;
    margin-left: 0;
    margin-bottom: 2rem;
}
.view-detail .main-box .detail-box .detail-btn{
    display: flex;
    justify-content: space-around;
}
.products {
    position: relative;
    margin-top: -100px;
    background-image: url('../../../assets/img/bg1.webp');
    padding: 4%;
    padding-bottom: 50px;
}

.heading {
    text-align: center;
    line-height: 1.5;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    align-items: center;
}

.products .box-container .box {
    position: relative;
    margin: 1rem;
    overflow: hidden;
    top: 0;
}


.products .box-container .box img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    transition: .5s;
    background-color: polegreen;
}

.products .box-container .box:hover img {
    transform: scale(1.1);
}

.products .box-container .box .content {
    position: relative;
    background-color: #fff;
    padding: 30px 10px;
    margin-top: -80px;
    border-top-right-radius: 80px;
    line-height: 1.5;
    text-transform: capitalize;
}

.products .box-container .box .content .flex-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.icon-style-clicked {
    font-size: 2rem;
    color: var(--main-color);
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.4rem;
    text-align: center;
    margin-left: .5rem;
    cursor: pointer;
}
.icon-style {
    font-size: 2rem;
    color: gray;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.4rem;
    text-align: center;
    margin-left: .5rem;
    cursor: pointer;
}



.products .box-container .box h3 {
    text-transform: capitalize;
    font-size: 18px;
}

.products .box-container .box .price {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1rem;
}

.empty {
    background-color: var(--pink-opacity);
    padding: 2rem;
}

.empty p {
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 1.8rem;
    text-align: center;
}

