.dashboard {
    padding: 0 10vw;
}

.btn {
    background-color: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
    color: var(--main-color);
    padding: 0.8rem 2rem;
    border-radius: 1.5rem;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}
.btn::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 30px;
    background-color: var(--main-color);
    z-index: -1;
    transition: width 0.3s ease;
    text-align: center;
}
.btn:hover::before {
    width: 100%;
}
.btn:hover {
    color: #fff;
}
.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: center;
}
.box-container .box {
    background-color: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    margin: 1rem;
}
.heading {
    text-align: center;
    line-height: 1.5;
}
.heading h1 {
    font-size: 2rem;
    text-transform: capitalize;
}
.heading span {
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 16px;
}
.heading img {
    margin-top: 0.5rem;
    width: 150px !important;
}
.post-editor {
    width: 75 vw;
    min-height: 100vh;
    padding: 4%;
    margin: 8% 5%;
    margin-bottom: 2%;
}
.flex-btn {
    display: flex;
    justify-content: space-between;
}
.flex-btn .btn {
    margin: 5rem;
}
