.main-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 220px;
    background-image: url("../../../assets/img/bg1.png");

    background-position: center;
}
.container {
    margin-bottom: 5rem;
}
.heading {
    text-align: center;
    line-height: 1.5;
}
.heading h1 {
    font-size: 2rem;
    text-transform: capitalize;
}
.heading span {
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 16px;
}
.heading img {
    margin-top: 0.5rem;
    width: 150px !important;
}
.flex-btn {
    display: flex;
    justify-content: space-evenly;
}

.box-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.box-container .box {
    background-color: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    margin: 1rem;
    text-align: center;
    border-radius: 0.5rem;
}
.box-container .box {
    position: relative;
    margin: 1rem;
    overflow: hidden;
}

.box-container .box .image:hover {
    transform: scale(1.1);
}
.box-container .box .image {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    transition: 0.5s;
    background-color: palegreen;
}
.box-container .box .content {
    position: relative;
    display: block;
    background-color: #fff;
    padding: 40px 10px;
    margin-top: -80px;
    border-top-right-radius: 80px;
    text-align: center;
    line-height: 1.5;
    text-transform: capitalize;
}
.box-container .box .content .sharp {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: -80px;
    background-repeat: no-repeat;
}
.box-container .box .content .status {
    position: absolute;
    left: -40px;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: inline-block;
    background-color: var(--white-alpha-40);
}
.box-container .box .price {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 5%;
    top: 5%;
    font-weight: bolder;
    background-color: var(--pink-color);
    font-size: 1.5rem;
}
.box-container .box .content .title {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
}

.empty {
    background-color: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
    color: var(--main-color);
    padding: 1.5rem;
    text-align: center;
    margin: 2rem auto;
}
.empty p {
    font-size: 20px;
    margin-bottom: 2rem;
}
.box-container .box .posts-content {
    font-size: 1.3rem;
    line-height: 1.5;
    padding: 1rem 0;
}
.posts-editor img {
    width: 100%;
}
